
.profile{
    text-align: center;
}
.profile img{
    width: 350px;
    height: 350px;
    object-fit: cover;
}

.social-icon ul li a {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    border: 1px solid #333;
    padding: 10px;
    box-sizing: content-box;
    border-radius: 50%;
    margin: 0px 3px;
    color: #333;
}